<form *ngIf="memberInsuranceForm" [formGroup]="memberInsuranceForm">
  <mat-card>
    <mat-card-header class="row justify-content-end">
      <button
        mat-raised-button
        class="col-6 col-md-3 col-lg-2 btn-cancel"
        *ngIf="memberInsuranceForm.enabled"
        (click)="memberInsuranceForm.disable()"
      >
        <ng-container> <mat-icon>close</mat-icon> Cancel </ng-container>
      </button>
      <button
        mat-raised-button
        class="col-6 col-md-3 col-lg-2"
        (click)="update()"
        [class.btn-edit]="memberInsuranceForm.enabled"
      >
        <ng-container *ngIf="memberInsuranceForm.enabled">
          <mat-icon>check</mat-icon> Save
        </ng-container>
        <ng-container *ngIf="memberInsuranceForm.disabled">
          <mat-icon>edit</mat-icon> Edit
        </ng-container>
      </button>
    </mat-card-header>
    <mat-card-content class="row">
      <mat-form-field class="col-12">
        <input
          matInput
          placeholder="Shipping Address"
          [formControl]="memberInsuranceForm.controls['shipping_address']"
        />
      </mat-form-field>

      <mat-form-field class="col-12">
        <input
          matInput
          placeholder="Shipping City"
          [formControl]="memberInsuranceForm.controls['shipping_city']"
        />
      </mat-form-field>

      <mat-form-field class="col-12">
        <input
          matInput
          placeholder="Shipping State"
          [formControl]="memberInsuranceForm.controls['shipping_state']"
        />
      </mat-form-field>

      <mat-form-field class="col-12">
        <input
          matInput
          placeholder="Shipping Zip Code"
          [formControl]="memberInsuranceForm.controls['shipping_zip_code']"
        />
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</form>
